.gtq {
  width: 100%;
  height: 100%;
  background: #b58e1e
    url("https://res.cloudinary.com/hoyahoya/image/upload/v1759482324/portfolio/joanna-kosinska-1_CMoFsPfso-unsplash_eex1ei.jpg");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.gtqMain {
  width: 100%;
  height: 100%;
  background-color: #25232350;
}
