.second {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #f5f5f7;
  position: relative;
  overflow: hidden;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iam {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.iam span {
  font-size: 120px;
  white-space: nowrap;
}
.pinContainer {
  position: relative;
  display: flex;
}
.pinWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  white-space: nowrap;
  width: 400vw;
}
.pinText {
  width: 100vw;
}
.otherSection {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}
.otherSectionMain {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  position: relative;
}
.info2 {
  position: absolute;
  top: 0;
  left: 8px;
}
.info2 p {
  color: rgb(0, 0, 0);
  font-size: 72px;
  white-space: nowrap;
  line-height: 1;
}
.info3 {
  position: absolute;
  top: 6px;
  right: 8px;
  display: flex;
  flex-direction: column;
}
.info3 p {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}
.image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 480px;
  z-index: 2;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hello {
  position: absolute;
  bottom: 0;
  color: #d464ae;
  min-height: 300px;
  height: auto;
}
.hello > div {
  display: flex;
  overflow: hidden;
}
.hello > div > span {
  line-height: 1;
  font-size: 300px;
  animation: flowLeft 10s linear infinite;
  white-space: nowrap;
}

/* 애니메이션 키프레임 정의 */
@keyframes flowLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@media (max-width: 1024px) {
  .iam span {
    font-size: 80px;
  }

  .info2 p {
    font-size: 60px;
  }
  .info3 p {
    font-size: 24px;
  }
  .image {
    width: 420px;
  }
  .hello {
    min-height: 200px;
  }
  .hello > div > span {
    font-size: 200px;
  }
}

@media (max-width: 768px) {
  .iam span {
    font-size: 60px;
  }
  .otherSectionMain {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .info2 {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  .info2 p {
    font-size: 48px;
  }
  .info3 {
    position: relative;
    display: flex;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  .info3 p {
    font-size: 17px;
  }
  .image {
    width: 360px;
  }
  .hello {
    min-height: 360px;
  }
  .hello > div > span {
    font-size: 360px;
  }
}
