.eighth {
  width: 100%;
  height: auto;
  background-color: #f5f5f7;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
}
.title {
  display: flex;
  flex-direction: column;
  margin: 0 calc(100vw / 12);
}
.projectTitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--gray-color);
}
.webProject {
  font-size: 80px;
  color: black;
  margin: 8px 0;
}
.projectInfo {
  font-size: 24px;
  margin-bottom: 60px;
  color: var(--gray-color);
  font-weight: 700;
}
.career {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  margin: 0 calc(100vw / 12);
  gap: 60px;
  color: var(--gray-color);
}
.careerInfo {
  gap: 13px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 1.6;
}
.careerInfo > p:nth-child(1) {
  font-size: 24px;
  color: var(--strong-color);
}
.careerInfo strong {
  color: rgb(29, 29, 31);
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .webProject {
    font-size: 48px;
  }
  .title {
    margin: 0 24px;
  }
  .career {
    margin: 0 24px;
  }
}
