.fifth {
  width: 100%;
  height: auto;
  background-color: white;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 calc(100vw / 12) 60px calc(100vw / 12);
}
.projectTitle {
  color: #6e6e73;
  font-size: 24px;
  margin-bottom: 8px;
}
.webProject {
  font-size: 80px;
  color: #708dfa;
}
.projectInfo {
  font-size: 24px;
  margin-top: 60px;
  text-align: center;
  color: #6e6e73;
}
.screenshot {
  position: relative;
  overflow-x: hidden;
}
.slide {
  display: flex;
  width: 10000px;
}
.screenshotImg {
  display: flex;
  width: 100svw;
  padding: 0 calc(100vw / 8);
  height: auto;
}
.screenshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 32px 0;
}
.left {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(210, 210, 215, 0.64);
  overflow: hidden;
  position: relative;
}
.left svg {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.right {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(210, 210, 215, 0.64);
  overflow: hidden;
  position: relative;
}
.right svg {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.projectBottom {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f7;
  margin: 0 calc(100vw / 8);
  font-size: 17px;
  padding: calc(100vw / 16);
  border-radius: 16px;
  gap: 100px;
}
.projectBottomInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1024px) {
  .projectTitle {
    font-size: 24px;
  }
  .webProject {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .project {
    padding: 0 24px 32px 24px;
  }
  .projectInfo {
    margin-top: 32px;
  }
  .projectTitle {
    font-size: 24px;
  }
  .screenshotImg {
    padding: 0 24px;
  }
  .webProject {
    font-size: 48px;
  }
  .projectBottom {
    margin: 0 24px;
    padding: 24px;
  }
}
