.languagePageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #252323b0;
  z-index: 2222;
}
.languagePage {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.close {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  z-index: 9999;
}
.close span {
  font-size: 12px;
  cursor: pointer;
  color: white;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3333;
  cursor: pointer;
}
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.opicLogo {
  position: relative;
  z-index: 4444;
}
.opicLogo img {
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}
.isOpic {
  width: 100%;
  height: 100%;
  background-color: #077bb8;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5555;
}
.isOpicMain {
  display: flex;
  flex-direction: column;
}
.isOpicMain h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 1;
}
.isOpicMain span {
  font-size: 16px;
  color: #ffffff;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.jlptLogo {
  position: relative;
  z-index: 4444;
}
.jlptLogo img {
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}

.isJlpt {
  width: 100%;
  height: 100%;
  background-color: #e70014;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5555;
}
.isJlptMain {
  display: flex;
  flex-direction: column;
}
.isJlptMain h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 1;
}
.isJlptMain span {
  font-size: 16px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .languagePage {
    flex-direction: column;
  }
  .opicLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
  }
  .opicLogo img {
    height: 100%;
    width: 100%;
  }
  .jlptLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
  }
  .jlptLogo img {
    height: 100%;
    width: 100%;
  }
}
