.second {
  width: 100%;
  min-height: 400vh;
  height: auto;
  background-color: #f5f5f7;
  position: relative;
  overflow: hidden;
}
.info {
  position: fixed;
  top: 50vh;
  left: 50%;
}
.iam {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.iam span {
  font-size: 120px;
  white-space: nowrap;
  line-height: 1;
  display: inline-block;
}

@media (max-width: 1024px) {
  .iam span {
    font-size: 90px;
  }
}

@media (max-width: 768px) {
  .iam span {
    font-size: 60px;
  }
}
