.second {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #f5f5f7;
  position: relative;
  overflow: hidden;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iam {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.iam span {
  font-size: 120px;
  white-space: nowrap;
}
.pinContainer {
  position: relative;
  display: flex;
}
.pinWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  white-space: nowrap;
  width: 400vw;
}
.pinText {
  width: 100vw;
}

@media (max-width: 1024px) {
  .iam span {
    font-size: 90px;
  }
}

@media (max-width: 768px) {
  .iam span {
    font-size: 60px;
  }
}
