.selectCard {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.background {
  width: 100%;
  height: 100vh;
  position: relative;
}
.circle {
  z-index: 1111;
  width: 800px;
  height: 800px;
  border: 3px solid black;
  border-radius: 50%;
  position: fixed;
  /* top: calc(100% + 250px); */
  top: calc(100% + 400px - 200px);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
.circleMain {
  position: relative;
  width: 800px;
  height: 800px;
}
.starSpray {
  width: 200px;
  height: 300px;
  background: #1ba11a
    url("https://res.cloudinary.com/hoyahoya/image/upload/v1702882191/letter/tile_vkvmea.png")
    top left repeat;
  background-size: 56%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  transform: translate(300px, -200px) rotate(0deg);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.starSpray span:first-child {
  font-size: 32px;
  color: #ffe107;
}
.leeHyun {
  width: 200px;
  height: 300px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(calc(-50% + 313.195px), calc(-50% - 313.195px))
    rotate(45deg);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leeHyun div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.leeHyun span {
  line-height: 1;
}
.leeHyun div span:first-child {
  font-size: 38px;
  color: #000000;
}
.leeHyun div span:last-child {
  font-size: 16px;
  color: #000000;
}
.pika {
  width: 200px;
  height: 300px;
  background-color: #d464ad;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  transform: translate(745px, 250px) rotate(90deg);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pika span:first-child {
  font-size: 36px;
  color: white;
}
.gtq {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(calc(-50% + 313.195px), calc(-50% + 313.195px))
    rotate(135deg);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8bf00;
}
.gtq div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
}
.gtq div span {
  line-height: 1;
  font-size: 32px;
  color: #ffffff;
}

.language {
  width: 200px;
  height: 300px;
  background-color: #3aadd3;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  transform: translate(300px, 695px) rotate(180deg);
  box-shadow: rgba(242, 118, 118, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language span:first-child {
  font-size: 32px;
  color: #ffffff;
}
.detail {
  width: 100%;
  position: absolute;
  top: -40%;
  left: 50%;
  font-size: 16px;
  font-weight: 400;
  color: #424245;
  transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .circle {
  }
}
@media (max-width: 768px) {
  .circle {
    top: calc(100% + 400px - 200px);
  }
}
