.sixth {
  width: 100%;
  min-height: 100svh;
  height: auto;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
}
.title {
  display: flex;
  flex-direction: column;
  margin: 0 calc(100vw / 8);
}
.projectTitle {
  font-size: 24px;
  color: #6e6e73;
}
.webProject {
  font-size: 80px;
  color: #7c1b25;
  margin: 8px 0;
}
.projectInfo {
  font-size: 24px;
  margin-bottom: 60px;
  color: #6e6e73;
}
.career {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  margin: 0 calc(100vw / 8);
  gap: 40px;
}
.careerInfo {
  gap: 13px;
  display: flex;
  flex-direction: column;
}
.careerInfo > p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .webProject {
    font-size: 48px;
  }
  .title {
    margin: 0 24px;
  }
  .career {
    margin: 0 24px;
  }
}
