@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #000000;
  color: #000000;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  --gray-color: #5b5b61;
  --strong-color: rgb(29, 29, 31);
}
a {
  color: #000000;
  text-decoration: none;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 0;
}
body::-webkit-scrollbar-thumb {
  background: #d464ad; /* 스크롤바 색 */
}
body::-webkit-scrollbar-track {
  background: #000000; /*스크롤바 뒷 배경 색상*/
}
