.home {
  width: 100%;
  height: 100svh;
  background-color: black;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 160px;
  font-weight: 400;
  color: #f5f5f7;
  gap: 10px;
  padding: calc(100vw / 16) calc(100vw / 16);
}
/* .main > span {
  cursor: pointer;
} */
.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.name > span {
  cursor: pointer;
}
.name {
  display: flex;
  color: #d464ae;
}
.portfolio {
  letter-spacing: 10.3px;
}
@media (max-width: 1200px) {
  .main {
    font-size: 140px;
  }
  .portfolio {
    letter-spacing: 9.2px;
  }
}
@media (max-width: 1024px) {
  .main {
    font-size: 120px;
  }
  .portfolio {
    letter-spacing: 8px;
  }
}

@media (max-width: 768px) {
  .main {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 60px;
    padding: calc(100svh / 4) 0 0 16px;
  }

  .portfolio {
    letter-spacing: 3.6px;
  }
}
