.career {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.careerMain {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.careerMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uniqlo {
  flex: 1;
}
.cos {
  flex: 1;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #25232350;
}
